<%- include('includes/head', {pageTitle: 'login'}) %>

</head>
<body>
          <%- include('includes/header') %>
          <h1>Not autheticated!</h1>
          <p>Unfortuantely,you are not authenticated!</p>
          <p><a href="/" class="btn">Back to safty!</a></p>

         
        









       <%- include('includes/footer') %>