<%- include('includes/head', {pageTitle: 'login'}) %>

</head>
<body>
          <%- include('includes/header') %>
          <h1>Could not find resource!</h1>
          <p>Unfortuantely,we could not find the resources!</p>
          <p><a href="/" class="btn">Back to safty!</a></p>

         
        









       <%- include('includes/footer') %>