<%- include('includes/head', {pageTitle: 'login'}) %>

</head>
<body>
          <%- include('includes/header') %>
          <h1>Something went wrong!</h1>
          <p>Unfortuantely, something went worng - plese try again later!</p>
          <p><a href="/" class="btn">Back to safty!</a></p>

         
        









       <%- include('includes/footer') %>